Assignment3/Q2/ConsumeServicesCourseGradingWeb/ConsumeServicesCourseGradingWeb/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="StudentFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StudentLastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertStudentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAssessments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AssessType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MaxMark" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAssessmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertAssessmentsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertStudentSoapIn">
    <wsdl:part name="parameters" element="tns:InsertStudent" />
  </wsdl:message>
  <wsdl:message name="InsertStudentSoapOut">
    <wsdl:part name="parameters" element="tns:InsertStudentResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAssessmentsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAssessments" />
  </wsdl:message>
  <wsdl:message name="InsertAssessmentsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAssessmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="InsertStudent">
      <wsdl:input message="tns:InsertStudentSoapIn" />
      <wsdl:output message="tns:InsertStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAssessments">
      <wsdl:input message="tns:InsertAssessmentsSoapIn" />
      <wsdl:output message="tns:InsertAssessmentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertStudent">
      <soap:operation soapAction="http://tempuri.org/InsertStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAssessments">
      <soap:operation soapAction="http://tempuri.org/InsertAssessments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertStudent">
      <soap12:operation soapAction="http://tempuri.org/InsertStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAssessments">
      <soap12:operation soapAction="http://tempuri.org/InsertAssessments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:63481/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:63481/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>